TELEGRAM_TOKEN=your_bot_token_here
ETH_RPC=https://mainnet.infura.io/v3/YOUR_KEY
BSC_RPC=https://bsc-dataseed.binance.org/
SOLANA_RPC=https://api.mainnet-beta.solana.com
MAX_SESSION_LOSS_PCT=2.0
MAX_GAS_PCT=8.0
